<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4">História do Rock n Roll</h1>
  </div>
  
  <div class="col">
        <h1 class="display-4"> O rock nas décadas</h1>
      </div>
    </div>
  
  
  
  <div class="container">
    <div class="row">
      <div class="col">
        O Rock é uma vertente musical surgida do termo Rock and Roll. Originou-se nos Estados Unidos na segunda metade do século XX, alcançando seu auge nos anos 70 e 80.
        <br>
        O gênero é fruto de uma combinação de diversos tipos de música, principalmente a música negra, que com o passar do tempo, desdobrou-se também em outros subgêneros.
        <br>
        Hoje em dia ganhou o mundo e mobiliza grande número de pessoas que apreciam a vertente, tendo até uma data em sua homenagem, o Dia Mundial do Rock, em 13 de julho.
        O surgimento do rock aconteceu nos EUA como consequência da mistura de outros estilos musicais, com enfoque no jazz, folk, country e rhythm and blues.
        <br>
        As primeiras experimentações ocorreram ainda na década de 40, sobretudo em seus últimos anos, mas foi nos anos 50 que a vertente ganhou contornos mais nítidos.
        <br>
        Os nomes que se destacaram nessa primeira fase foram: Jackie Brenston, Jerry Lee Lewis, Johnny Cash, Jimmy Preston, Little Richard, Bill Haley, Chuck Berry (esse considerado por muitos como o "pai do rock") e outros.
        <br>
        Apesar de quase sempre esquecidas, é importante pontuar a atuação das mulheres nesse contexto. Nomes como Sister Rosetta Tharpe, Memphis Minnie, Aretha Franklin e demais mulheres tiveram enorme importância para a história do rock.    
        <br>
        <b>Fonte: https://www.todamateria.com.br/rock-origem-e-historia/</b>
  </div>
  
      <div class="col">
       
        Nos anos 50 surge uma figura que viria a ser considerada mais tarde como "rei do rock", era Elvis Presley. O rapaz branco vindo da cidade de Memphis, no Tennessee, cantava no coro da igreja quando criança e recebeu influência do blues, vertente musical de origem negra.
        É importante salientar que, por conta de sua pele branca, Elvis teve maior espaço na mídia da época e foi melhor aceito pela sociedade conservadora americana.
        <br>
        Ainda na década de 50, com as inovações tecnológicas, a guitarra elétrica foi criada, dando um carácter eletrizante para os concertos de rock e vindo a ser um instrumento essencial para o gênero.
        <br>
        Nos anos 60 aparecem novos nomes na cena e o rock ganha ainda mais o coração do público.
        <br>
        Têm destaque nesse momento: The Doors, Jimi Hendrix, Janis Joplin, Pink Floyd, além das bandas The Beatles e Rolling Stones, que fizeram um sucesso estrondoso, ganhando fãs no mundo todo.
        Os anos 70 foram marcados pelo aparecimento de bandas como Queen, Led Zeppelin, Kiss, Black Sabbath, Ramones, The Clash, Sex Pistols, David Bowie, The Runaways (banda exclusivamente feminina).
        <br>
        Nessa fase, os shows eram monumentais, com grande público enchendo enormes locais.
        <br>
        Nos anos 80 o comportamento e estética visual que imperavam eram bastante excêntricos, trazendo muito brilho, penteados e roupas exageradas.
        <br>
        No meio musical não foi diferente, as bandas apresentavam essa ousadia e as que têm destaque são: Bon Jovi, Van Halen, New Order, The Cure, Pretenders, Roxette, e muitas outras.
        Já na década de 90, o estilo de rock que despontou foi o grunge, um rock alternativo vindo de Seattle.
        <br>
        A banda de maior sucesso na época foi Nirvana, mas tiveram outros nomes importantes como Pearl Jam, R.E.M, Alice in Chains, Soundgarden, Red Hot Chili Peppers, The Offspring, Green Day.
        <br>
        Nos anos 2000 o rock perdeu um pouco de força por conta da crescente onda pop. Ainda assim, tiveram espaço bandas como Evanescence, The Strokes, Interpol, Arctic Monkeys, Franz Ferdinand, e outras.
      </div>
    </div>
  
  
